<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  </title>
</head>
 <header class="main-header">
        <div class="logo-placeholder"></div>
        <nav class="nav-links">
            <a href="#">COLLECTIONS</a>
            <span class="separator">|</span>
            <a href="../story/story.html" class="inactive">HOME</a>
            <a href="../story/story.html" class="inactive">STORY</a>
            <a href="../portfolio/portfolio.html" class="inactive">PORTFOLIO</a>
            <span class="separator">|</span>
            <a href="#" class="active">CONTACT</a>
        </nav>
        <div class="cart-icon">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </header>
<body>
    

